# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env
.env.*

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

